@tailwind base;
@tailwind components;
@tailwind utilities;

.diagonal-separator {
  background: linear-gradient(96deg, #fff 50%, #FFE6E9 50%);
}

.titles-with-squares {
  @apply font-serif font-bold text-3xl relative z-10 ps-6;
}

.titles-with-squares::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 32.5px;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  z-index: -10;
}

@media (max-width: 800px) {
  .titles-with-squares {
    @apply font-serif font-bold text-xl relative z-10 ps-3;
  }
  .titles-with-squares::before {
    left: 16.25px;
    width: 40px;
    height: 40px;
  }
}